# Ensemble Learning

## Initial Imports

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [15]:
# Create our features
X= df.drop(columns="loan_status")
X=pd.get_dummies(X)

# Create our target
y=df["loan_status"]
X

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,0.1502,346.76,26000.0,9.60,0.0,0.0,9.0,0.0,2684.0,...,0,1,0,1,0,1,1,0,1,1
68813,12000.0,0.2727,368.37,63000.0,29.07,0.0,0.0,8.0,0.0,13314.0,...,0,1,0,1,0,1,1,0,1,1
68814,5000.0,0.1992,185.62,52000.0,14.86,0.0,0.0,5.0,1.0,3715.0,...,0,1,0,1,0,1,1,0,1,1
68815,40000.0,0.0646,1225.24,520000.0,9.96,0.0,1.0,21.0,0.0,59529.0,...,0,1,1,0,0,1,1,0,1,1
68816,16000.0,0.1131,350.36,72000.0,7.02,2.0,0.0,12.0,1.0,11882.0,...,0,1,0,1,0,1,1,0,1,1

In [16]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [17]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [18]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, 
                                                   y, 
                                                   random_state=1, 
                                                   stratify=y)
X_train.shape

(51612, 95)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [19]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [20]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [21]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [22]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brf = BalancedRandomForestClassifier(n_estimators=1000, random_state=1)
brf.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(n_estimators=1000, random_state=1)

In [23]:
# Calculated the balanced accuracy score

# Calculated the balanced accuracy score
y_pred_brf = brf.predict(X_test_scaled)
bas_brf=balanced_accuracy_score(y_test, y_pred_brf)
print(bas_brf)

0.8196061012606211

In [24]:
# Display the confusion matrix
cm_brf = confusion_matrix(y_test, y_pred_brf)
cm_df_brf = pd.DataFrame(
    cm_brf, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
cm_df_brf

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                   62                  25
Actual Low Risk                  1257               15861

In [25]:
print(classification_report_imbalanced(y_test, y_pred_brf))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.05      0.71      0.93      0.09      0.81      0.65        87
   low_risk       1.00      0.93      0.71      0.96      0.81      0.67     17118

avg / total       0.99      0.93      0.71      0.96      0.81      0.67     17205

In [26]:
# List the features sorted in descending order by feature importance
importances = brf.feature_importances_
sorted(zip(brf.feature_importances_, X.columns), reverse=True)

[(0.06928717515721282, 'total_rec_prncp'),
 (0.06195341602973416, 'total_rec_int'),
 (0.05999716770508804, 'total_pymnt'),
 (0.05944929931774028, 'total_pymnt_inv'),
 (0.05780080255994967, 'last_pymnt_amnt'),
 (0.02708701665429169, 'int_rate'),
 (0.019362938516910073, 'issue_d_Jan-2019'),
 (0.01765723264865733, 'dti'),
 (0.01635551128868266, 'installment'),
 (0.0162869588930354, 'out_prncp'),
 (0.016075098739934283, 'annual_inc'),
 (0.015822865990250717, 'revol_bal'),
 (0.01573225080912679, 'out_prncp_inv'),
 (0.015462048804453772, 'max_bal_bc'),
 (0.01511218923248116, 'bc_util'),
 (0.014818248548877595, 'mths_since_recent_inq'),
 (0.014736763773410759, 'mo_sin_old_il_acct'),
 (0.014668152866939446, 'avg_cur_bal'),
 (0.01454052198931068, 'il_util'),
 (0.014405428481318226, 'bc_open_to_buy'),
 (0.014273402855444749, 'mo_sin_old_rev_tl_op'),
 (0.01408832804623083, 'issue_d_Mar-2019'),
 (0.01407588836833831, 'total_bc_limit'),
 (0.013462077489263542, 'tot_hi_cred_lim'),
 (0.01341647541458797, 'tot_cur_bal'),
 (0.013201657352571883, 'total_bal_ex_mort'),
 (0.013105883035789795, 'all_util'),
 (0.012940958341302922, 'total_il_high_credit_limit'),
 (0.012705929497304307, 'total_bal_il'),
 (0.012574095891864898, 'mths_since_rcnt_il'),
 (0.012137974469882106, 'total_rev_hi_lim'),
 (0.011590079698511835, 'mths_since_recent_bc'),
 (0.01106415683214939, 'loan_amnt'),
 (0.010955989297928109, 'total_acc'),
 (0.010338698853050958, 'mo_sin_rcnt_rev_tl_op'),
 (0.010152321063842543, 'num_il_tl'),
 (0.010100572769888426, 'num_rev_accts'),
 (0.00968644741351023, 'open_acc'),
 (0.009122672647767, 'mo_sin_rcnt_tl'),
 (0.008762518737322797, 'inq_last_12m'),
 (0.008754287445458779, 'num_sats'),
 (0.00871385658989013, 'num_rev_tl_bal_gt_0'),
 (0.008649698654983187, 'pct_tl_nvr_dlq'),
 (0.008497681789514594, 'num_bc_tl'),
 (0.008422056814203766, 'num_actv_rev_tl'),
 (0.008316875972081358, 'num_op_rev_tl'),
 (0.008214212260303038, 'total_cu_tl'),
 (0.007973698781181307, 'acc_open_past_24mths'),
 (0.007609150609867125, 'inq_fi'),
 (0.007605261599647776, 'num_actv_bc_tl'),
 (0.0073474784871294585, 'num_bc_sats'),
 (0.007008698694956704, 'open_rv_24m'),
 (0.007000989696340462, 'total_rec_late_fee'),
 (0.006823231859042754, 'percent_bc_gt_75'),
 (0.006770800146510531, 'num_tl_op_past_12m'),
 (0.00661931960206556, 'open_act_il'),
 (0.006527100571391741, 'open_il_24m'),
 (0.006213529603232693, 'mort_acc'),
 (0.005779817605246222, 'inq_last_6mths'),
 (0.005453340819246247, 'open_il_12m'),
 (0.005341472796717319, 'open_acc_6m'),
 (0.004780751980191555, 'next_pymnt_d_Apr-2019'),
 (0.004644376386715744, 'delinq_2yrs'),
 (0.00459752032880553, 'open_rv_12m'),
 (0.00438935292927582, 'next_pymnt_d_May-2019'),
 (0.0042572005748406595, 'issue_d_Feb-2019'),
 (0.003413255008806603, 'tot_coll_amt'),
 (0.0029511124676555134, 'num_accts_ever_120_pd'),
 (0.002716488844517772, 'verification_status_Verified'),
 (0.0023646035708435598, 'home_ownership_RENT'),
 (0.002060060986803155, 'home_ownership_OWN'),
 (0.00199913447615627, 'verification_status_Not Verified'),
 (0.0018975544602282137, 'home_ownership_MORTGAGE'),
 (0.0018052138759578197, 'verification_status_Source Verified'),
 (0.0015518498668066968, 'pub_rec_bankruptcies'),
 (0.0014762341024612895, 'pub_rec'),
 (0.0014435768084325336, 'application_type_Individual'),
 (0.0013674702900341286, 'application_type_Joint App'),
 (0.0013184014592932474, 'initial_list_status_f'),
 (0.0011719082352760022, 'initial_list_status_w'),
 (0.0009302499570568309, 'num_tl_90g_dpd_24m'),
 (0.00033518523583409156, 'collections_12_mths_ex_med'),
 (0.0003226744488167754, 'home_ownership_ANY'),
 (0.0001771849111157621, 'chargeoff_within_12_mths'),
 (1.886231110554809e-05, 'delinq_amnt'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [28]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [29]:
# Calculated the balanced accuracy score
y_pred_eec = eec.predict(X_test_scaled)
bas_eec=balanced_accuracy_score(y_test, y_pred_brf)
print(bas_eec)

0.8196061012606211

In [30]:
# Display the confusion matrix
cm_eec = confusion_matrix(y_test, y_pred_eec)
cm_df_eec = pd.DataFrame(
    cm_eec, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
cm_df_eec

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                   79                   8
Actual Low Risk                   978               16140

In [31]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_eec))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.91      0.94      0.14      0.93      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.93      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.93      0.86     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.